version: "3.6"
services:
  elastic:
    env_file:
      - .env
    ports:
      - 127.0.0.1:9400:9200
      - 127.0.0.1:9500:9300

  api:
    volumes:
      - ./custom/config.yml:/app/api/config.yml
    env_file:
      - .env
    environment: 
      - GIN_MODE=release
    command: -f config.yml

  indexer:
    volumes:
      - ./custom/config.yml:/app/indexer/config.yml
    env_file:
      - .env
    environment: 
      - GIN_MODE=release
    command: -f config.yml

  metrics:
    volumes:
      - ./custom/config.yml:/app/metrics/config.yml
    env_file:
      - .env
    environment: 
      - GIN_MODE=release
    command: -f config.yml

  compiler:
    container_name: compiler
    restart: always
    image: bakingbad/bcdhub-compiler:${TAG:-latest}
    build:
      context: .
      dockerfile: cmd/compiler/Dockerfile
    depends_on:
      - elastic
      - mq
      - db
    volumes:
      - /etc/bcd:/etc/bcd
    volumes:
      - ./custom/config.yml:/app/compiler/config.yml
    env_file:
      - .env
    environment: 
      - GIN_MODE=release
    command: -f config.yml
    logging:
      options:
        max-size: 10m
        max-file: "5"    

  gui:
    volumes:
      - ./custom/config.json:/usr/share/nginx/html/config.json
      - ./custom/default.conf:/etc/nginx/conf.d/default.conf
    command: -c "nginx -g 'daemon off;'"
